.flip-container {
    perspective: 1000;
    width: 200px
}

.flipper {
    transition: .6s;
    transform-style: preserve-3d;
    position: relative
}

.back, .front {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #e8e8e8;
    padding: 24px;
}

.front {
    z-index: 2;
    transform: rotateY(0deg)
}

.back, .flip-container.flip .flipper {
    transform: rotateY(180deg)
}

:host ::ng-deep .ant-card-body {
    padding: 0px;
    margin: 0px;
}